-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: demandas_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `demandas`
--

DROP TABLE IF EXISTS `demandas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `demandas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `filial` varchar(100) DEFAULT NULL,
  `tipo` varchar(100) DEFAULT NULL,
  `situacao` varchar(50) DEFAULT 'Aberto',
  `empresa` varchar(150) DEFAULT NULL,
  `cliente` varchar(150) DEFAULT NULL,
  `vendedor` varchar(150) DEFAULT NULL,
  `endereco` varchar(255) DEFAULT NULL,
  `contato` varchar(100) DEFAULT NULL,
  `obs` text,
  `data` varchar(20) DEFAULT NULL,
  `hora` time DEFAULT NULL,
  `produtos` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demandas`
--

LOCK TABLES `demandas` WRITE;
/*!40000 ALTER TABLE `demandas` DISABLE KEYS */;
INSERT INTO `demandas` VALUES (1,'Porto Alegre','entrega','Novo Pedido','teste','LEONARDO','Alisson','RUA PAQUETA 157','51995847288','','06/04/2026','15:05:00','[{\"nome\":\"Martelo\",\"periodo\":\"7 Dias\",\"valor\":\"150,00\",\"patrimonio\":\"\"}]'),(2,'S├úo Leopoldo','substituicao','Ag. Termo de Substitui├º├úo','tenda','fran','Fl├ívio','RUA SULMAK 123','LEONARDO','','06/04/2026','15:12:00','[{\"nome\":\"Esmerilhadeira\",\"periodo\":\"Di├íria\",\"valor\":\"\",\"patrimonioRetorna\":\"\",\"patrimonioNovo\":\"\"}]');
/*!40000 ALTER TABLE `demandas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-07  9:07:00
